#banner {
    width: 100%;
}

main{
    width: 100%;
    background: linear-gradient(#fefefe 30%, #888888 70%);
}

.container{
    width: 940px;
}

h2{
    font-size: 2em;
    font-weight: bold;
}

em{
    font-style: italic;
}

strong{
    font-weight: bold;
}

h3{
    font-size: 2em;
    font-weight: bold;
    clear: left;
}

h2,
h3{
    text-align: center;
}

h2,
h3,
p {
    margin: 0 0 1em;
}

.main-container{
    padding: 3em 0;
}

.utensils {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}

#mission {
    font-size: 20px;
}

.benefits{
    padding: 3em 0;
}

.benefits-container{
    width: 640px;
    margin: 0 auto;
}

.benefits-container ul {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.benefits-container ul li {
    line-height: 1.5;
}

.benefits-container ul li:before{
    content: "🟊";
}

.benefits-container ul li:first-child {
    font-weight: bold;
}

#benefitsimage {
    width: 60%;
}

.maps{
    padding: 3em 0;
    text-align: center;
}

.maps p {
    margin: 0 0 2em;;
}

.video {
    width: 560px;
    margin: 2em auto;
}